In [2]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [3]:
data = pd.read_csv("data/train.csv")
X = data.iloc[:,0:20]  #independent columns
y = data.iloc[:,-1]    #target column i.e price range

In [5]:
bestfeatures = SelectKBest(score_func=chi2, k=10)

In [7]:
fit = bestfeatures.fit(X,y)

In [9]:
dfscores = pd.DataFrame(fit.scores_)

In [11]:
dfcolumns = pd.DataFrame(X.columns)

In [13]:
featureScores = pd.concat([dfcolumns,dfscores],axis=1)

In [14]:
featureScores.columns = ['Specs','Score']

In [15]:
print(featureScores.nlargest(10,'Score'))

            Specs          Score
13            ram  931267.519053
11      px_height   17363.569536
0   battery_power   14129.866576
12       px_width    9810.586750
8       mobile_wt      95.972863
6      int_memory      89.839124
15           sc_w      16.480319
16      talk_time      13.236400
4              fc      10.135166
14           sc_h       9.614878

In [17]:
data.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [6]:
data2 = pd.read_csv("../Classification/muffin-cupcake-master/recipes_muffins_cupcakes.csv")

In [12]:
data2.head(20)

       Type  Flour  Milk  Sugar  Butter  Egg  Baking Powder  Vanilla  Salt
0    Muffin     55    28      3       7    5              2        0     0
1    Muffin     47    24     12       6    9              1        0     0
2    Muffin     47    23     18       6    4              1        0     0
3    Muffin     45    11     17      17    8              1        0     0
4    Muffin     50    25     12       6    5              2        1     0
5    Muffin     55    27      3       7    5              2        1     0
6    Muffin     54    27      7       5    5              2        0     0
7    Muffin     47    26     10      10    4              1        0     0
8    Muffin     50    17     17       8    6              1        0     0
9    Muffin     50    17     17      11    4              1        0     0
10  Cupcake     39     0     26      19   14              1        1     0
11  Cupcake     42    21     16      10    8              3        0     0
12  Cupcake     34    17     20      20    5              2        1     0
13  Cupcake     39    13     17      19   10              1        1     0
14  Cupcake     38    15     23      15    8              0        1     0
15  Cupcake     42    18     25       9    5              1        0     0
16  Cupcake     36    14     21      14   11              2        1     0
17  Cupcake     38    15     31       8    6              1        1     0
18  Cupcake     36    16     24      12    9              1        1     0
19  Cupcake     34    17     23      11   13              0        1     0

In [11]:
X2 = data2.iloc[:,1:8]  #independent columns
y2 = data2.iloc[:,0]    #target column i.e price range
bestfeatures2 = SelectKBest(score_func=chi2, k=5)
fit2 = bestfeatures2.fit(X2,y2)
dfscores2 = pd.DataFrame(fit2.scores_)
dfcolumns2 = pd.DataFrame(X2.columns)
featureScores2 = pd.concat([dfcolumns2,dfscores2],axis=1)
featureScores2.columns = ['Specs','Score'] 
print(featureScores2.nlargest(5,'Score'))

    Specs      Score
2   Sugar  35.380117
0   Flour  16.952164
1    Milk  16.822102
3  Butter  13.254545
4     Egg   8.027778

In [4]:
import numpy as np
from sklearn.model_selection import train_test_split
x, y = np.arange(400).reshape((200, 2)), range(5)
x.shape

(200, 2)

In [31]:
X_train, X_test = train_test_split(x, train_size=150, test_size=0.25)

In [32]:
X_train[0:5]

array([[328, 329],
       [120, 121],
       [ 68,  69],
       [334, 335],
       [226, 227]])

In [33]:
X_test[0:5]

array([[118, 119],
       [206, 207],
       [278, 279],
       [124, 125],
       [276, 277]])